a{
  text-decoration: none;
}

.accordion{
  height: 60px;
}

.form-label{
  font-size: 15px;
  font-weight: 600;
}


.accordion-button{
  padding: 10px;
  font-size: 14px;
  box-shadow: none !important;
}

.form-select, .form-control{
  box-shadow: none !important;
  border-width: 2px;
}

.deposit-cards .card{
  border-radius: 0 ;
  border-color: rgb(228, 228, 228);
  border-color: rgb(184, 181, 179);
  /* border-color: rgb(248, 241, 137); */
  border-width: 1px;
  /* border: none; */
  background-color: rgb(240, 240, 240);
}


h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.btn:focus, .page-link {
  box-shadow: none !important;

}

body{
  overflow-y: scroll;
}

.page-link{
  border-width: 2px;
}

.page-link:focus{
  border-color: dodgerblue;
}

.deposit-cards{
  padding-bottom: 80px;
}

.breadcrumb{
  font-size: 20px;
}

.deposit-field{
  width: 160px;
  font-size: 17px;
  font-weight: bold;
}

.btn-back{
  margin-left: 180px;
  width: 100px;
  display: block;
}

.nav-link.active{
  background-color: rgb(255 193 7);
  font-weight: bold;
  color: rgb(61, 61, 61);
}

.logo{
  height: 100px;
  background-color: #143a61;
  color: white;
  font-weight: bold;

}


@media (max-width: 991px) {
  .offcanvas-lg{
    max-width: 270px;
  }
}

.loader{
  height: 50px;
  width: 50px;
  border-width: 5px;
  /* animation-duration: 1.3s; */
}

.disabled{
  opacity: 0.4 !important;
}

.navbar .btn{
  border: none !important
}

.loan-cards{
  background-color: rgb(249 250 251);
  background-color: rgba(0,0,0, 0.03);
}

.card-body .header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.badge{
  font-weight: 400;
}

.faint{
  background-color: rgba(0,0,0, 0.03);
}

.pending{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.v-center{
  position: absolute;
  left: 5%;
  right: 5%;
  top: 25%;
  bottom: 25%;
}
.backdrop.pending{
  background-color: rgba(0,0,0, 0.15);
}

.alert-success{
  background-color: #2dc781;
}

.placeholder{
  background-color: rgba(0,0,0,0.3);
}


.placeholder.btn-primary{
opacity: 30%;
}

::placeholder{
  opacity: 0.4 !important;
}

/* .tooltip-inner{
  background-color: rgb(7, 106, 255) !important;
} */
/* 
.tooltip-arrow::before{
  border-left-color: rgb(7, 106, 255)  !important;

} */


.modal .btn-close{
  margin-right: 10px;
}

.loan-cards th, .loan-cards td{
  font-weight: 300;
}


td, th{
  white-space: nowrap !important;
}

.filter-summary-heading{
  color: rgb(255 193 7);
  font-weight: bolder;
}

.vr{
  width: 3px;
  height: 20px;;
  font-weight: 900;
}

.filter-summary td{
  font-weight: 500;
}

.tooltip{
  --bs-tooltip-bg: #2c5899 !important;
}

.border-bottom-none,  .border-bottom-none td, .border-bottom-none th{
  border-bottom: none !important;
}